<!DOCTYPE html>

<html>

<head>

    <title>PDF Tools</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <div class="top-bar">

        <a href="/logout" class="logout-btn">

            Logout

        </a>

    </div>

    <div class="container">

        <h1>Welcome to PDF Tools</h1>

        <h2>Select a Tool</h2>

        <br>

        <a href="/image-to-pdf">

            <button>

                Image to PDF Converter

            </button>

        </a>

        <br><br>

        <a href="/merge-pdf">

            <button>

                PDF Merger

            </button>

        </a>

    </div>

</body>

</html>
