<!DOCTYPE html>
<html>

<head>
    <title>PDF Tools</title>
     <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <div class="navbar">

        <h3>PDF Tools</h3>

        <div>

            <a href="/logout">

                Logout

            </a>

        </div>

    </div>

    <div class="container">

        <div class="card">

            <h1>Welcome to PDF Tools</h1>

            <h2>Select a Tool</h2>

            <a href="/image-to-pdf">

                <button>

                    Image to PDF Converter

                </button>

            </a>

            <a href="/merge-pdf">

                <button>

                    PDF Merger

                </button>

            </a>
            <div class="top-bar">
                <a href="/logout" class="logout-btn">
                    Logout
                </a>
            </div>

        </div>

    </div>

</body>

</html>
